* {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Archivo Black';
    
}
@keyframes customBounce {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.about-logos {
    animation: customBounce 1.5s infinite;
}
.w-full button:hover .svgg path {
    fill: black;
}

.gradient-icon i {
    font-size: 4rem; /* Adjust the size as needed */
    background: linear-gradient(to right, #e5063e, #f7c645);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gradient-icon:hover i {
    transform: scale(1.2); /* Slight zoom on hover */
    filter: brightness(1.2); /* Optional for a brighter effect */
}
